.App {
  background-color: #f3f2ef;
  flex-direction: column;
}

.app__body {
  width: 60%;
  justify-content: center;
  display: flex;
  margin-top: 35px;
  
  margin-left: 20px;
  margin-right: 20px;
}
